/* High level containers */
body
{
  color: black;
  font: normal 12px "Lucida Sans Unicode","Lucida Grande",Garuda,sans-serif;
  line-height: 1.5;
  padding: 0px;
  margin: 0px;
}

a
{
	color: #7F171F;
	font-weight: bold;
  	text-decoration: none;
}

small a, label a
{
  text-decoration: underline;
}

a:hover
{
  text-decoration: underline;
}

p
{
  padding: 0px;
  margin-top: 0.5em;
  margin-bottom: 1em;
  margin-left: 0px;
  margin-right: 0px;
}

strong
{
  color: #333333;
}

img
{
  border: solid 1px black;
}

label
{
  margin-left: 1em;
}

textarea, select
{
  font: normal 12px "Lucida Sans Unicode","Lucida Grande",Garuda,sans-serif;
}

textarea
{
  width: 500px;
}

hr
{
  border-top: dotted 1px black;
  border-bottom: none;
  height: 1px;
}

h1,h2,h3,h4,h5,h6 {
	color: #7F171F;
	font-variant: small-caps;
}

#page_container
{
	background: #F8F8F8 url('/images/sidebar.gif') repeat-y;
	border-bottom: 1px dotted #1B2733;
	width: 100%
	min-height: 400px;
}

#footer
{
	float: right;
}

/* Links */
.openid
{
  background-image: url("/images/openid_icon.png");
  padding-left: 15px;
  background-repeat: no-repeat;
  background-position: 0px 2px;
}

#footer a
{
  color: gray;
  text-decoration: underline;
}

/* Primary navigation */
#navigation
{
	width: 100%;
	background-color: #BFC0A4;
	padding-top: 20px;
}

#navigation ul
{
	margin-left: 50px;
	list-style: none;
	display: inline;
}

#navigation ul li {
	margin-top: 10px;
	display: inline;
}

#navigation ul li a {

	padding: 5px;
	font-size: 1.75em;
	border: 1px solid #313125;
	background-color: #E7E7DF;
	color: black;
	font-weight: normal;
}

#navigation ul li a:hover {
	font-size: 1.75em;
	height: 2.0em;
	text-decoration: none;
	background-color: #F3F3F3;
	color: black;
	font-weight: normal;
}

#search {
	float: right;
	display: inline;
	color: #E7E7DF;
	font-weight: bold;
}

h1#page_heading {
	-webkit-transform: rotate(-90deg); 
	-moz-transform: rotate(-90deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
	width: 400px;
	
	margin: 0;
	margin-left: -150px;
	margin-top: 20px;
	font-size: 48px;
}

/* Content */
#main
{
	padding-right: 150px;
	padding-left: 150px;
	padding-bottom: 40px;
	width: 800px;
}

#archives li small 
{
	color: #C5C5C5;
}

/* Secondary content */

#secondary_navigation {
	clear: both;
	float: right;
	margin-right: 40px;
	font-size: 1.1em;
	width: 450px;
}

#secondary_navigation ul.archive {
	list-style-type: none;
}

#secondary_navigation ul.archive li small,
a.navigation,
a.navigation:visited {
	color: #C5C5C5;
}

a.navigation:active,
a.navigation:hover {
	color: #7F171F;
}

div.meta
{
 margin-top: 1em;
 margin-bottom: 3em;
}
/* Formatting */

.meta ul
{
  list-style: none;
  margin: 0px;
  padding-left: 0em;
  padding-bottom: 0.5em;
  display: inline;
  color: #cccccc;
  font-size: 10pt;
}
.archive-month .tags
{
  color: #bbbbbb;
}

.meta a, .archive-month .tags a
{
  color: #bbbbbb;
  border-bottom: dotted 1px #bbbbbb;
}

.meta a:hover
{
  text-decoration: none;
}

.meta ul li
{
  display: inline;
}

.meta ul li:after
{
  content: " | ";
}

.meta ul li:last-child:after
{
  content: "";
}

.separator
{
  height: 1px;
  margin-top:5px;
  clear: both;
}

/* Forms */

#project_summary
{
  height: 150px;
}

#new_comment textarea, #edit_comment textarea
{
  height: 150px;
}

.alt, .container_alt
{
  background-color: #fafafa;
}


div.comments div.body
{
  padding: 5px;
}
div.comments div.meta
{
  min-height: 0px;
  padding: 0px
}

div.comments div.separator
{
  height: 10px;
}

div.errors
{
  border: solid 1px red;
  background-color: #ffcccc;
  padding: 5px;
  padding-left: 10px;
  width: 485px;
}

div.errors h3
{
  font-size: 1.0em;
}

.fieldWithErrors
{
  display: inline;
}

span.error
{
  font-weight: bold;
  }

#preview
{
  height: 200px;
  overflow: auto;
}

.related {
  background-color: #f8f8f8;
  border: 1px solid silver;
  padding: 10px;
}

/* Syntax */


/* TOC */
fieldset.toc
{
  float: right;
  border: dotted 1px black;
  background-color: #fafafa;
  padding: 10px;
  margin-left: 5px;
}

.toc legend
{
  font-weight: bold;
}

.toc ol
{
  margin: 0px;
  padding-left: 0px;
  list-style-position: inside;
}

.toc ol ol
{
  list-style-type: lower-alpha;
  padding-left: 15px;
}

