<div id="navigation">
  <ul>
      <li><a href="home">Home</a></li>
      <li><a href="snippets">Snippets</a></li>
  </ul>

  <form method="get" id="search" action="http://www.google.com/search">
	<label for="q">Search</label>

      <input type="text" id="q" value="" name="q" />
      <input type="hidden" name="sitesearch" value="localhost" />
  </form>
</div>