<div id="secondary_navigation">
	<% unless archives.empty? %>
		<h2>Recent Posts</h2>
		<ul class="archive">
		<% archives.each do | post | %>
			<li><%= "&laquo; #{post.title}" %> <small>published <%= post.date %></small></li>
		<% end %>
		</ul>
			<a href="archives">Archive</a>
		<hr />
	<% end %>


</div>